# GIGACHAT_API_KEY=your_gigachat_api_key_here

# OpenAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-3.5-turbo

# ChromaDB
CHROMA_PERSIST_DIR=./chroma_db

# RAG
CHUNK_SIZE=500
CHUNK_OVERLAP=50
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
TOP_K=5
